@import "tailwindcss";
@import "tw-animate-css";


:root {
  /* CORE COLORS */
  --color-background: #0a0a0a;    /* main background */
  --color-surface: #111111;       /* card, panel background */
  --color-text-primary: #ffffff;  /* main text */
  --color-text-secondary: #cfcfcf;/* secondary text */
  --color-accent: #38bdf8;        /* main accent */
  --color-accent-light: #7dd3fc;  /* hover/light variant */
  --color-accent-dark: #0ea5e9;   /* dark variant */
  --color-muted: #2a2a2a;         /* borders, disabled elements */
  --color-border: #1f1f1f;        /* border color */
  --font-primary: "Oswald", sans-serif;
  --radius: 0.625rem;
}

/* GLOBAL STYLES */
body {
  background-color: var(--color-background);
  color: var(--color-text-secondary);
  font-family: var(--font-primary);
}

/* Tailwind @theme support */
@theme {
  --color-primary: var(--color-text-primary);
  --color-accent: var(--color-accent);
  --color-accent-light: var(--color-accent-light);
  --color-secondary: var(--color-text-secondary);
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --font-rubik: var(--font-primary);
}

/* BASE STYLES */
@layer base {
  h1, h2, h3, h4, h5 {
    font-family: var(--font-rubik);
    color: var(--color-text-primary);
    font-weight: 400;
  }

  h1 { @apply text-3xl sm:text-4xl md:text-5xl tracking-wide; }
  h2 { @apply text-2xl sm:text-3xl md:text-4xl tracking-wide; }
  h3 { @apply text-xl sm:text-2xl md:text-3xl tracking-wide; }
  h4 { @apply text-lg sm:text-xl md:text-2xl tracking-wide; }
  h5 { @apply text-base sm:text-lg md:text-xl tracking-wide cursor-pointer; }

  p {
    @apply text-sm leading-loose text-secondary;
  }

  a {
    color: var(--color-accent);
    @apply transition-colors duration-300;
  }
}


